/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#phaser.options {}

#phaser.options table th {
 	text-align: left;
 }

 #phaser.options table > tbody > tr:nth-child(odd) {
 	margin-top: 10px;
 	display: block;
 }

 #phaser.options table input[type="text"] {
 	margin: 0;
 }